/* Font import */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-main {
  font-family: "Noto Serif", serif;
  /* font-optical-sizing: auto; */
  font-weight: bold;
  font-size: 70px;
  /* font-style: normal; */
  /* font-variation-settings:
    "wdth" 100; */
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-sub-main {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  /* font-optical-sizing: auto; */
  /* font-weight: <weight>; */
  /* font-style: normal; */
}






/* Shared Style */
.regular-color{
    color: black;
}
.secondary-color{
    color: rgba(137, 135, 161, 1);
}
.colorful{
    color: rgba(233, 90, 8, 1);
}



body{
    max-width: 1340px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    border: 1px solid black;
    justify-content: space-between; 
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-top:  30px; ;
    /* padding: 15px 30px; */
    /* background-color: #f8f8f8;  */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}
.navbar .logo img {
    width: 200px; 
    height: 100px;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    color: black;

}

.navbar .nav-links li {
    margin-right: 25px; 
    
}
.navbar-small{
    display: flex;
    gap: 60px;
}

.navbar .nav-links a,
.navbar .cart a {
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar .cart {
    display: flex;
    align-items: center;
    margin-left: 0px;
    padding-left: 0px;
    /* font-weight: 0px; */
    /* font-size: 5p; */
}
/* .card-vallue{
    font-size: 2px;
} */

.navbar .cart img {
    height: 20px;
    margin-right: 5px;
}


/* PART 2 */

.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    border: 1px solid black;
    height: 561px;
}
.banner-text{
    margin-top: 162px;
    /* height: 300px; */
    /* max-width: 570px; */
    border: 1px solid black;
} 
.banner img{
    max-width: 670px;
    max-height: 455px;
    margin-top: 106px;
    border: 1px solid black;
}




/* PART THREE STYLE START */
.three{
    margin-bottom: 50px;
}
.plant-text{
    /* border: 1px solid black; */
    text-align: center;
}
.plant-text p{
    padding: 0 200px;
    padding-top: 0px;
    font-size: 28px;
}
.plant-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 18px;
    margin-top: 50px;
}
.plant img{
    width: 100%;
}
.plant p,h4{
    text-align: center;
    font-size: 25px;
}
.plant p{
    padding-top: 0px;
}
.plant button{
    width: 100%;
    padding: 20px 10px;
    background-color: rgba(233, 90, 8, 1);
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
/* PART THREE STYLE END */

















/* Responsive */

/* Nav responsive */
@media screen and (max-width: 576px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 15px;
    }
    .navbar .nav-links {
        display: none; 
    }
    .navbar .cart {
        display: flex; 
    }

    .navbar .cart a {
        font-size: 15px; 
    }
}

/* second part */
@media screen and (max-width: 576px) {
    .banner{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        height: 100%;
        margin-top: 0px;
    }
    .banner-text{
        margin-top: 0%;
        padding-left: 15px;
    }
    .banner-title{
        font-size: 50px;
    }
    .banner-description{
        font-size: 18px;

    }
}
/* THIRD PART */
@media screen and (max-width:576px) {
    
    .plant-text h1{
        font-size: 50px;
    }
    .plant-text p{
        padding: 0 50px;
        padding-top: 0px;
        font-size: 20px;
        /* margin-top: 0px; */
    }
    .plant-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 10px;
    }
     .under p{
        margin-bottom: 3px;
     }
    .under h4{
        margin-top: 0px;
    }


}



